<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cenário</title>
	<script src="http://www.jpanda.com.br/coder/dev/js/angular.min.js"></script>
	<script>
		function cenario($scope){
			$scope.selecao = "1";

			$scope.blocos = ["1","2","3","4","5","6","7","8","9","10"];

			$scope.mapa = [
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1",
				"1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1"
			];

			$scope.selecionar = function(indice){
				$scope.mapa[indice] = $scope.selecao;
			}

			$scope.mudarSelecao = function(bloco){
				$scope.selecao = bloco + 1;
			}
		}
	</script>
	<style>
	*{margin:0; padding:0;}
	#base{
		margin: 0 auto;
		width: 600px;
		position: relative;
	}
	.cena{
		float: left;
		display: inline;
		margin: 0;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.opcoes{
		width: 30px;
		height: 600px;
		position: absolute;
		right: -60px;
	}
	</style>
</head>
<body ng-app>
	<div id="base" ng-controller="cenario">
		<div class="cena" ng-repeat="cena in mapa" ng-click="selecionar($index)"><img src="{{cena}}.png" alt="" /></div>
		<div class="opcoes">
			<div class="cena"  style="margin-bottom:30px;"><img src="{{selecao}}.png"></div>
			<div ng-repeat="bloco in blocos" class="cena" ng-click="mudarSelecao($index)"><img src="{{bloco}}.png" alt="" /></div>
		</div>
	</div>
</body>
</html>